{% extends "index.html" %}
{% block content %}


<div class="well"> <b>EXISTING CONTACTS</b> </div>
<div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>FULL NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>

            {% for row in contacts %}
            <tr>
                <td>{{ row.0 }}  {{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td width="130">
                    <a href="/delete/{{row.2}}" class="btn btn-danger btn-delete btn-sm"> delete </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>


        </table>
</div>

{% endblock content %}



