{% extends "index.html" %}
{% block content %}



<div class="col-md-3"></div>


<div class="col-md-6">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
             {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="content-section" style=" background-color: #fff;">
       <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="entries">
          <legend class="border-bottom mb-4" style="font-size:50px;" > DELETION FORM </legend>
          <div class="form-group">
             {{ form.fn2.label(class="form-control-label") }}
             {{ form.fn2(class="form-control form-control-lg") }}
          </div>
          <br>
              <br>
          <div class="form-group">
             {{ form.ln2.label(class="form-control-label") }}
             {{ form.ln2(class="form-control form-control-lg") }}
          </div>
              <br>
              <br>
          <div class="form-group">
             {{ form.email2.label(class="form-control-label") }}
             {{ form.email2(class="form-control form-control-lg") }}
          </div>
              <br>

          </fieldset>
           <div class="form-group">
              {{ form.submit2(class="btn btn-outline-info") }}
          </div>
       </form>
    </div>
</div>

<p> Enter user first name, last name and email </p>

<div class="col-md-3"></div>






{% endblock content %}
